<nav class="navbar fixed-top navbar-expand-sm navbar-light shadow">
  <a class="navbar-brand" [routerLink]="['/']"><b><i>EasyMed</i></b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
          <!-- <a class="nav-item nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a> -->
          <a class="nav-item nav-link" [routerLink]="['/users/' + user._id]">Clients</a>
          <a class="nav-item nav-link" [routerLink]="['/users/' + user._id + '/edit']">Profile</a>
          <button (click)="logout()" class="nav-item">Logout</button>
      </div>
  </div>
</nav>

<div class="container-fluid" id="visit-history-body">
  <div class="container" id="visit-history">
<p *ngIf="visitHistoryError" class="error">
    {{ visitHistoryError }}
  </p>

<h3 class="text-center">Visit History for {{visitHistory[0].patient_id.firstName}} {{visitHistory[0].patient_id.lastName}} </h3>
<hr>
<div class="row">
  <div class="col-6">
      <!-- <a [routerLink]="['/users/' + user._id]">All Clients</a> -->
      <a [routerLink]="['/visits/new/' + patientId]">Add Visit</a>
  </div>
  <div class="col-6 card">
  <div *ngFor="let visit of visitHistory">
  <a [routerLink]="['/visits/visit/' + visit._id]">Date: {{visit.createdAt | date:'MM/dd/yyyy' }} - {{ visit.assessment }}</a>
 
</div>

<div *ngIf="visitHistory.length===0">
  <p>No Visits</p>
</div>
</div>



</div>
</div>
</div>