<nav class="navbar fixed-top navbar-expand-sm navbar-light shadow">
    <a class="navbar-brand" href="/">EasyMed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/signup">Sign Up</a>
            <a class="nav-item nav-link" href="/login">Login</a>
        </div>
    </div>
</nav>


<div id="sign-up" class="container-fluid">

<div class="container">
<div class="row ">
<div class="card col-md-6 text-center ml-auto">
  <div class="card-body">

<h3>Sign Up</h3>

<p *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</p>


<form (ngSubmit)="doSignUp()">
<h4>Select User Type</h4>
<select [(ngModel)]="signUpInfo.role" name="role-menu">
  <option value="Doctor">Doctor</option>
  <option value="Patient">Patient</option>
</select>

<div *ngIf="signUpInfo.role==='Doctor'">
  <label for="usernameValue">Username:</label>
  <input type="text" name="usernameValue" [(ngModel)]="signUpInfo.username" class="form-control">

  <label for="passwordValue">Password:</label>
  <input type="password" name="passwordValue" [(ngModel)]="signUpInfo.password" class="form-control">

  <label for="firstNameValue">Name:</label>
  <input type="text" name="firstNameValue" [(ngModel)]="signUpInfo.firstName" class="form-control">

  <label for="lastNameValue">Last Name:</label>
  <input type="text" name="lastNameValue" [(ngModel)]="signUpInfo.lastName" class="form-control">

  <label for="addressValue">Address:</label>
  <input type="text" name="addressValue" [(ngModel)]="signUpInfo.address" class="form-control">

  <label for="cityValue">City:</label>
  <input type="text" name="cityValue" [(ngModel)]="signUpInfo.city" class="form-control">

  <label for="stateValue">State:</label>
  <input type="text" name="stateValue" [(ngModel)]="signUpInfo.state" class="form-control">

  <label for="zipValue">Zip Code:</label>
  <input type="number" name="zipValue" [(ngModel)]="signUpInfo.zip" class="form-control">
</div>

<div *ngIf="signUpInfo.role==='Patient'">
    <label for="usernameValue">Username:</label>
    <input type="text" name="usernameValue" [(ngModel)]="signUpInfo.username" class="form-control">
  
    <label for="passwordValue">Password:</label>
    <input type="password" name="passwordValue" [(ngModel)]="signUpInfo.password" class="form-control">

    <label for="firstNameValue">Name:</label>
    <input type="text" name="firstNameValue" [(ngModel)]="signUpInfo.firstName" class="form-control">
  
    <label for="lastNameValue">Last Name:</label>
    <input type="text" name="lastNameValue" [(ngModel)]="signUpInfo.lastName" class="form-control">
  </div>

<button type="submit">Sign Up</button>
</form>
<p>Already have account?
  <a [routerLink]="['/login']">Log In</a>
</p>
</div>
</div>
</div>
</div>
</div>