<h3>Sign Up</h3>

<p *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</p>


<form (ngSubmit)="doSignUp()">
<h4>Select User Type</h4>
<select [(ngModel)]="signUpInfo.role" name="role-menu">
  <option value="Doctor">Doctor</option>
  <option value="Patient">Patient</option>
</select>

<div *ngIf="signUpInfo.role==='Doctor'">
  <label for="usernameValue">Username:</label>
  <input type="text" name="usernameValue" [(ngModel)]="signUpInfo.username" class="form-group">

  <label for="passwordValue">Password:</label>
  <input type="password" name="passwordValue" [(ngModel)]="signUpInfo.password" class="form-group">

  <label for="firstNameValue">Name:</label>
  <input type="text" name="firstNameValue" [(ngModel)]="signUpInfo.firstName" class="form-group">

  <label for="lastNameValue">Last Name:</label>
  <input type="text" name="lastNameValue" [(ngModel)]="signUpInfo.lastName" class="form-group">

  <label for="addressValue">Address:</label>
  <input type="text" name="addressValue" [(ngModel)]="signUpInfo.address" class="form-group">

  <label for="cityValue">City:</label>
  <input type="text" name="cityValue" [(ngModel)]="signUpInfo.city" class="form-group">

  <label for="stateValue">State:</label>
  <input type="text" name="stateValue" [(ngModel)]="signUpInfo.state" class="form-group">

  <label for="zipValue">Zip Code:</label>
  <input type="number" name="zipValue" [(ngModel)]="signUpInfo.zip" class="form-group">
</div>

<div *ngIf="signUpInfo.role==='Patient'">
    <label for="usernameValue">Username:</label>
    <input type="text" name="usernameValue" [(ngModel)]="signUpInfo.username" class="form-group">
  
    <label for="passwordValue">Password:</label>
    <input type="text" name="passwordValue" [(ngModel)]="signUpInfo.password" class="form-group">
</div>

<button type="submit">Sign Up</button>
</form>
<p>Already have account?
  <a [routerLink]="['/']">Log In</a>
</p>
