<div class="container-fluid" id="visit-details-body" class="user-pages-body">
<div class="container" id="visit-details">

<div class="card">
  <div class="card-header">
<h5>Visit On {{visitDetails.createdAt | date:'MM/dd/yyyy'}}</h5> 
</div>
<div class="card-body">
    <h6>Visit Info</h6>
<ul>
  <li>Chief Complaint: {{ visitDetails.chief_complaint }}</li>
  <li>Assessment: {{ visitDetails.assessment }}</li>
  <li>Treatment: {{ visitDetails.treatment }}</li>
</ul>

<h6>Patient Vitals</h6>
<ul>
  <li>Temperature: {{visitDetails.temperatureDeg}} {{visitDetails.temperatureScale}}</li>
  <li>Height: {{ visitDetails.heightNumOne }}{{visitDetails.heightScaleOne}} {{visitDetails.heightNumTwo}}{{visitDetails.heightScaleTwo}}</li>
  <li>Weight: {{visitDetails.weightNum}}{{visitDetails.weightScale}}</li>
  <li>Blood Pressure: {{visitDetails.blood_pressure}}</li>
</ul>


<a [routerLink]="['/visits/' + visitDetails.patient_id]">Visit History</a>
</div>

</div>

</div>
</div>