<p>
  visit-details works!
</p>

<h5>Visit On {{visitDetails.createdAt | date:'MM/dd/yyyy'}}</h5> 
<ul>
  <li>Cheif Complaint: {{ visitDetails.chief_complaint }}</li>
  <li>Assessment: {{ visitDetails.assessment }}</li>
  <li>Treatment: {{ visitDetails.treatment }}</li>
</ul>

<h6>Patient Vitals</h6>
<ul>
  <li>Temperature: {{visitDetails.temperatureDeg}} {{visitDetails.temperatureScale}}</li>
  <li>Height: {{ visitDetails.heightNumOne }}{{visitDetails.heightScaleOne}} {{visitDetails.heightNumTwo}}{{visitDetails.heightScaleTwo}}</li>
  <li>Weight: {{visitDetails.weightNum}}{{visitDetails.weightScale}}</li>
  <li>Blood Pressure: {{visitDetails.blood_pressure}}</li>
</ul>

<a [routerLink]="['/visits/' + visitDetails.patient_id]">Visit History</a>