<!-- Check If No Clients Or Visits -->




<!-- Check For Doctor -->
<div *ngIf="user.role==='Doctor'">
  <h3>Clients</h3>
  <div *ngIf="clients.length===0">
      <p>No Clients</p>
    </div>

  <p *ngFor="let client of clients">
  <a [routerLink]="['/visits/' + client._id]">{{ client.firstName}} {{ client.lastName }}</a> 
  <img *ngIf="client.image" [src]="baseUrl + client.image" alt="" width="150" height="150">
  </p>
  <a [routerLink]="['/users/' + user._id + '/newClient']">Add Client</a>
</div>

<!-- Check for Patient -->
<div *ngIf="user.role==='Patient'">
  <h3>Latest Visit</h3>
  {{ clients[0].assessment}}
  {{ clients[0].treatment }}
  <div *ngIf="clients[0]===null">
    <p>No Visits</p>
  </div>
</div>

<a [routerLink]="['/users/' + user._id + '/edit']">Profile</a>
<br>
<button (click)="logout()">Logout</button>