<!-- <nav class="navbar fixed-top navbar-expand-sm navbar-light shadow">
    <a class="navbar-brand" [routerLink]="['/']"><b><i>EasyMed</i></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" [routerLink]="['/logout']">Logout</a>
        </div>
    </div>
</nav> -->



<!-- Check If No Clients Or Visits -->
<div id="user-home" class="container-fluid">
<!-- Check For Doctor -->
<div *ngIf="user.role==='Doctor'">
  <h1>{{user.firstName}} {{user.lastName}}</h1>
  <h3>Clients</h3>
  <div *ngIf="clients.length===0">
      <p>No Clients</p>
  </div>


  <h5>Search Clients</h5>
  <div>
    <label for="client-search">Last Name:</label>
        <input id="client-search" placeholder="Smith"
        [(ngModel)]="pattern">
  </div>
  
  <div>
    <label for="client-search">First Name:</label>
        <input id="client-search" placeholder="John"
        [(ngModel)]="patternTwo">
  </div>


  <div *ngFor="let client of clients | search:'lastName':pattern | search:'firstName':patternTwo">
      <div class="card col-6 offset-3 text-center">
        <a [routerLink]="['/visits/' + client._id]">{{ client.firstName}} {{ client.lastName }}</a> 
        <img class="m-auto" *ngIf="client.image" [src]="baseUrl + client.image" alt="" width="25%" height="25%">
      </div>  
  </div>
  <a [routerLink]="['/users/' + user._id + '/newClient']">Add Client</a>
</div>

<!-- Check for Patient -->
<div *ngIf="user.role==='Patient'">
    <h3 *ngIf="clients[0].patient_id.lastName.slice(-1)==='s'">{{clients[0].patient_id.firstName}} {{clients[0].patient_id.lastName}}' Latest Visit</h3>
    <h3 *ngIf="clients[0].patient_id.lastName.slice(-1)!=='s'">{{clients[0].patient_id.firstName}} {{clients[0].patient_id.lastName}}'s Latest Visit</h3>
  <p>Assessment: {{ clients[0].assessment}}</p>
  <p>Treatment: {{ clients[0].treatment }}</p>
  <div *ngIf="clients[0]===null">
    <p>No Visits</p>
  </div>
</div>

<a [routerLink]="['/users/' + user._id + '/edit']">Your Profile</a>

<br>
<button (click)="logout()">Logout</button>
</div>