<h3>Profile Info</h3>
<ul>
  <li>Username: {{profile.username}}</li>
  <li>Name: {{profile.firstName}}</li>
  <li>Last Name: {{profile.lastName}}</li>
  <li>Gender: {{profile.gender}}</li>
  <li>Address: {{profile.address}}</li>
  <li>City: {{profile.city}}</li>
  <li>State: {{profile.state}}</li>
  <li>Zip: {{profile.zip}}</li>
  <li *ngIf="user.role==='Patient'">Insurance: {{profile.insurance_co}}</li>
  <li *ngIf="profile.image">Photo: <img [src]="baseUrl + profile.image" alt="" width="150" height="150"></li>
</ul>


<h3>Edit Profile</h3>
<form (ngSubmit)="updateProfile(profile._id, myForm)" #myForm='ngForm'>
  <label for="username">Username:</label>
  <input id="username" type="text" [(ngModel)]="profile.username" name="updatedUsername" 
  value="{{ profile.username }}" class="form-control">
  <br>

  <label for="first-name">Name:</label>
  <input id="first-name" type="text" [(ngModel)]="profile.firstName" name="updatedFirstName" 
  value="{{ profile.firstName }}" class="form-control">
  <br>

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" [(ngModel)]="profile.lastName" name="updatedLastName" 
  value="{{ profile.lastName }}" class="form-control">
  <br>
 <!-- <div class="gender-radio-buttons"> -->
    
    <!-- <div *ngIf="profile.gender==='M'">
      <label>Gender:</label>
      <br>
      <label for="gender-male">M</label>
      <input id="gender-male" type="radio" [(ngModel)]="updatedGender" name="updatedGender" 
      value="M" class="form-control" checked="checked">
      <label for="gender-female">F</label>
      <input id="gender-female" type="radio" [(ngModel)]="updatedGender" name="updatedGender" 
      value="F" class="form-control">
    </div> -->
  
    <!--  Necessary? -->
    <!-- <div *ngIf="profile.gender==='F'">
      <label for="gender-male">Gender - M:</label>
        <input id="gender-male" type="radio" [(ngModel)]="updatedGender" name="updatedGender" 
        value="M" class="form-control">
        <label for="gender-female">Gender - F:</label>
        <input id="gender-female" type="radio" [(ngModel)]="updatedGender" name="updatedGender" 
        value="F" class="form-control" checked="checked">
    </div>
  </div> -->

  <label for="address">Address:</label>
  <input id="address" type="text" [(ngModel)]="profile.address" name="updatedAddress" 
  value="{{ profile.address }}" class="form-control">
  <br>
  <label for="city">City:</label>
  <input id="city" type="text" [(ngModel)]="profile.city" name="updatedCity" 
  value="{{ profile.city }}" class="form-control">
  <br>
  <label for="state">State:</label>
  <input id="state" type="text" [(ngModel)]="profile.state" name="updatedState" 
  value="{{ profile.state }}" class="form-control">
  <br>
  <label for="zip">Zip:</label>
  <input id="zip" type="number" [(ngModel)]="profile.zip" name="updatedZip" 
  value="{{ profile.zip }}" class="form-control">
  <br>

  <!-- <div *ngIf="profile.role === 'Patient'"> -->
  <label *ngIf="profile.role==='Patient'" for="insurance-co">Insurance:</label>
  <input *ngIf="profile.role==='Patient'" id="insurance-co" type="text" [(ngModel)]="profile.insurance_co" name="updatedInsuranceCo" 
    value="{{ profile.insurance_co }}" class="form-control">
  <!-- </div>   -->
  <button>Save Updates</button>
  </form>
  <button (click)="deleteThisUser()">Delete Profile</button>
  <a [routerLink]="['/users/' + user._id]">Home</a>